name: Run integration test

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies and dev tools
      run: uv sync --locked --all-extras

    - name: Install pytest annotate plugin
      run: uv pip install pytest-github-actions-annotate-failures

    - name: Run integration tests (no coverage)
      run: uv run pytest --no-cov tests/integration -v
