name: Tox Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tox:
    name: test py${{ matrix.env }} 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - "311"
          - "312" 
          - "313"
          - "314"

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install tox + plugins
      run: uv tool install tox --with tox-uv --with tox-gh
      
    - name: Install Python (if needed)
      if: matrix.env != '314'
      run: uv python install ${{ matrix.env }}
      
    - name: Setup test suite
      run: tox run -vv --notest --skip-missing-interpreters false
      env:
        TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
      
    - name: Run test suite
      run: tox run --skip-pkg-install
      env:
        TOX_GH_MAJOR_MINOR: ${{ matrix.env }}