name: Run unit tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies and dev tools
      run: uv sync --locked --all-extras

    - name: Install plugin
      run: uv pip install pytest-github-actions-annotate-failures

    - name: Run unit tests
      run: uv run pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
